# Rust
/luma-server/target/
/luma-desktop/src-tauri/target/

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
*.suo
*.sw?

# env
.env